.r {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: #202020;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.78) 100%);;

  a {
    color: #fff;
  }
}

.about {
  h1,
  h2 {
    color: #fff;
    margin-top: 0;
    font-family: "Abril Fatface", serif;
    font-size: 3.25rem;
    margin-bottom: 0;
  }
  display: flex;
  flex-direction: column;
}

.socialButton {
  img {
    width: 25px;
  }
  margin-right: 10px;
  margin-bottom: 10px;
}

.socialButtons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.sticky {
}

.nav {
  margin-bottom: 1rem;
}

.navItem {
  display: block;
  line-height: 1.75;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &.active {
    font-weight: bold;
  }
}

.tagWrapper {
  margin-top: 15px;
}

.tag {
  display: inline-block;
  height: 21px;
  // font-weight: 550;
  line-height: 21px;
  margin-bottom: 0;
  margin-right: 0;
  background-color: #eceff1;
  color: black;
  font-size: 13px;
  border-radius: 10px;
  padding: 0 8px;
  margin-left: 5px;
}

@media (min-width: 48em) {
  .sticky {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
  }
}

@media (min-width: 48em) {
  .r {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }

  .socialButtons {
    margin-left: 0;
  }
}
