
$gray50:  hsl(184, 9%, 98%);
$gray100: hsl(184, 9%, 96%);
$gray200: hsl(184, 9%, 93%);
$gray250: hsl(184, 9%, 90%);
$gray300: hsl(189, 10%, 86%);
$gray400: hsl(184, 9%, 80%);
$gray500: hsl(184, 9%, 50%);
$gray600: hsl(184, 9%, 40%);
$gray700: hsl(184, 9%, 30%);
$gray800: hsl(184, 9%, 20%);
$gray900: hsl(180, 9%, 13%);


$blue50: hsl(204, 70%, 98%);
$blue100: hsl(204, 70%, 90%);
$blue200: hsl(204, 70%, 80%);
$blue300: hsl(204, 70%, 70%);
$blue400: hsl(204, 70%, 60%);
$blue500: hsl(204, 70%, 53%);
$blue600: hsl(204, 70%, 40%);
$blue700: hsl(204, 70%, 30%);
$blue800: hsl(204, 70%, 20%);
$blue900: hsl(204, 70%, 13%);


$red50: hsl(6, 78%, 98%);
$red100: hsl(6, 78%, 90%);
$red200: hsl(6, 78%, 80%);
$red300: hsl(6, 78%, 70%);
$red400: hsl(6, 78%, 60%);
$red500: hsl(6, 78%, 53%);
$red600: hsl(6, 78%, 40%);
$red700: hsl(6, 78%, 30%);
$red800: hsl(6, 78%, 20%);
$red900: hsl(6, 78%, 13%);

$orange50: hsl(37, 90%, 98%);
$orange100: hsl(37, 90%, 90%);
$orange200: hsl(37, 90%, 80%);
$orange300: hsl(37, 90%, 70%);
$orange400: hsl(37, 90%, 60%);
$orange500: hsl(37, 90%, 53%);
$orange600: hsl(37, 90%, 40%);
$orange700: hsl(37, 90%, 30%);
$orange800: hsl(37, 90%, 20%);
$orange900: hsl(37, 90%, 14%);



$xxxxlarge: 7rem;
$xxxlarge: 6rem;
$xxlarge: 5rem;
$xlarge: 4rem;
$large: 3rem;
$medium: 2rem;
$belowMedium: 1.5rem;
$normal: 1.4rem;
$small: 1rem;

$space-0: 0.25rem;
$space-1: 0.5rem;
$space-2: 1rem;
$space-3: 1.5rem;
$space-4: 2rem;
$space-5: 2.5rem;
$space-6: 3rem;
$space-7: 4rem;
$space-8: 6rem;
$space-9: 8rem;
$space-10: 10rem;

$white: #fff;
$black: black;

$shadow_normal: var(--shadow_normal)
